### Data Processing

In [22]:
import pandas as pd
from pathlib import Path

# data_path = Path('C:/Users/bettl/PycharmProjects/Computation_of_Data_Science/Homework_1/Korea-Distance.xlsx')
Cities_Distance = pd.read_excel('Korea-Distance.xlsx')
Cities_Distance

,Unnamed: 0,Incheon,Seoul,Busan,Daegu,Daejeon,Gwangju,Suwon-si,Ulsan,Jeonju,Cheongju-si,Changwon,Jeju-si,Chuncheon,Hongsung,Muan
0,Incheon,NaN,27.0,335.0,244.0,141.0,257.0,33.0,316.0,186.0,115.0,304.0,439.0,102.0,95.0,275.0
1,Seoul,27.0,NaN,330.0,237.0,144.0,268.0,31.0,307.0,195.0,113.0,301.0,453.0,75.0,111.0,290.0
2,Busan,335.0,330.0,NaN,95.0,199.0,193.0,304.0,54.0,189.0,221.0,35.0,291.0,330.0,271.0,233.0
3,Daegu,244.0,237.0,95.0,NaN,117.0,171.0,212.0,75.0,130.0,130.0,72.0,324.0,236.0,191.0,215.0
4,Daejeon,141.0,144.0,199.0,117.0,NaN,137.0,114.0,192.0,61.0,36.0,167.0,323.0,175.0,74.0,171.0
5,Gwangju,257.0,268.0,193.0,171.0,137.0,NaN,238.0,222.0,77.0,173.0,161.0,186.0,311.0,162.0,44.0
6,Suwon-si,33.0,31.0,304.0,212.0,114.0,238.0,NaN,284.0,164.0,84.0,274.0,423.0,91.0,83.0,260.0
7,Ulsan,316.0,307.0,54.0,75.0,192.0,222.0,284.0,NaN,198.0,205.0,67.0,341.0,296.0,266.0,265.0
8,Jeonju,186.0,195.0,189.0,130.0,61.0,77.0,164.0,198.0,NaN,96.0,154.0,264.0,234.0,97.0,111.0
9,Cheongju-si,115.0,113.0,221.0,130.0,36.0,173.0,84.0,205.0,96.0,NaN,190.0,359.0,139.0,74.0,205.0
10,Changwon,304.0,301.0,35.0,72.0,167.0,161.0,274.0,67.0,154.0,190.0,NaN,275.0,306.0,237.0,202.0
11,Jeju-si,439.0,453.0,291.0,324.0,323.0,186.0,423.0,341.0,264.0,359.0,275.0,NaN,498.0,344.0,165.0
12,Chuncheon,102.0,75.0,330.0,236.0,175.0,311.0,91.0,296.0,234.0,139.0,306.0,498.0,NaN,170.0,340.0
13,Hongsung,95.0,111.0,271.0,191.0,74.0,162.0,83.0,266.0,97.0,74.0,237.0,344.0,170.0,NaN,180.0
14,Muan,275.0,290.0,233.0,215.0,171.0,44.0,260.0,265.0,111.0,205.0,202.0,165.0,340.0,180.0,NaN