## Initialization

In [603]:
best_result = 10e6

### Data Processing

In [604]:
import pandas as pd
import numpy as np
from numpy import array

# data_path = Path('C:/Users/bettl/PycharmProjects/Computation_of_Data_Science/Homework_1/Korea-Distance.xlsx')
# Label = pd.read_excel('Korea-Distance.xlsx')
Raw_Cities_Distance = pd.read_excel('Korea-Distance.xlsx', index_col=0)
Raw_Cities_Distance = Raw_Cities_Distance.fillna(0)
# Sometimes, there's a bug to exclude index column of xlsx files during reading,
# even adding the 'index_col = None' statement.

# Label
Raw_Cities_Distance

,Incheon,Seoul,Busan,Daegu,Daejeon,Gwangju,Suwon-si,Ulsan,Jeonju,Cheongju-si,Changwon,Jeju-si,Chuncheon,Hongsung,Muan
Incheon,0.0,27.0,335.0,244.0,141.0,257.0,33.0,316.0,186.0,115.0,304.0,439.0,102.0,95.0,275.0
Seoul,27.0,0.0,330.0,237.0,144.0,268.0,31.0,307.0,195.0,113.0,301.0,453.0,75.0,111.0,290.0
Busan,335.0,330.0,0.0,95.0,199.0,193.0,304.0,54.0,189.0,221.0,35.0,291.0,330.0,271.0,233.0
Daegu,244.0,237.0,95.0,0.0,117.0,171.0,212.0,75.0,130.0,130.0,72.0,324.0,236.0,191.0,215.0
Daejeon,141.0,144.0,199.0,117.0,0.0,137.0,114.0,192.0,61.0,36.0,167.0,323.0,175.0,74.0,171.0
Gwangju,257.0,268.0,193.0,171.0,137.0,0.0,238.0,222.0,77.0,173.0,161.0,186.0,311.0,162.0,44.0
Suwon-si,33.0,31.0,304.0,212.0,114.0,238.0,0.0,284.0,164.0,84.0,274.0,423.0,91.0,83.0,260.0
Ulsan,316.0,307.0,54.0,75.0,192.0,222.0,284.0,0.0,198.0,205.0,67.0,341.0,296.0,266.0,265.0
Jeonju,186.0,195.0,189.0,130.0,61.0,77.0,164.0,198.0,0.0,96.0,154.0,264.0,234.0,97.0,111.0
Cheongju-si,115.0,113.0,221.0,130.0,36.0,173.0,84.0,205.0,96.0,0.0,190.0,359.0,139.0,74.0,205.0
Changwon,304.0,301.0,35.0,72.0,167.0,161.0,274.0,67.0,154.0,190.0,0.0,275.0,306.0,237.0,202.0
Jeju-si,439.0,453.0,291.0,324.0,323.0,186.0,423.0,341.0,264.0,359.0,275.0,0.0,498.0,344.0,165.0
Chuncheon,102.0,75.0,330.0,236.0,175.0,311.0,91.0,296.0,234.0,139.0,306.0,498.0,0.0,170.0,340.0
Hongsung,95.0,111.0,271.0,191.0,74.0,162.0,83.0,266.0,97.0,74.0,237.0,344.0,170.0,0.0,180.0
Muan,275.0,290.0,233.0,215.0,171.0,44.0,260.0,265.0,111.0,205.0,202.0,165.0,340.0,180.0,0.0

In [605]:
# transform to numpy
Cities_Distance = Raw_Cities_Distance.to_numpy()

print(Cities_Distance)
#print(Cities_Distance.shape)

# build a boolean table
size = len(Cities_Distance)
boolean_table = np.zeros((size, size), dtype=bool)
for i in range(size):
    boolean_table[0, i] = boolean_table[i, 0] = 1

print(boolean_table)

[[  0.  27. 335. 244. 141. 257.  33. 316. 186. 115. 304. 439. 102.  95.
  275.]
 [ 27.   0. 330. 237. 144. 268.  31. 307. 195. 113. 301. 453.  75. 111.
  290.]
 [335. 330.   0.  95. 199. 193. 304.  54. 189. 221.  35. 291. 330. 271.
  233.]
 [244. 237.  95.   0. 117. 171. 212.  75. 130. 130.  72. 324. 236. 191.
  215.]
 [141. 144. 199. 117.   0. 137. 114. 192.  61.  36. 167. 323. 175.  74.
  171.]
 [257. 268. 193. 171. 137.   0. 238. 222.  77. 173. 161. 186. 311. 162.
   44.]
 [ 33.  31. 304. 212. 114. 238.   0. 284. 164.  84. 274. 423.  91.  83.
  260.]
 [316. 307.  54.  75. 192. 222. 284.   0. 198. 205.  67. 341. 296. 266.
  265.]
 [186. 195. 189. 130.  61.  77. 164. 198.   0.  96. 154. 264. 234.  97.
  111.]
 [115. 113. 221. 130.  36. 173.  84. 205.  96.   0. 190. 359. 139.  74.
  205.]
 [304. 301.  35.  72. 167. 161. 274.  67. 154. 190.   0. 275. 306. 237.
  202.]
 [439. 453. 291. 324. 323. 186. 423. 341. 264. 359. 275.   0. 498. 344.
  165.]
 [102.  75. 330. 236. 175. 311.  91. 296. 234. 139. 306. 498.   0. 170.
  340.]
 [ 95. 111. 271. 191.  74. 162.  83. 266.  97.  74. 237. 344. 170.   0.
  180.]
 [275. 290. 233. 215. 171.  44. 260. 265. 111. 205. 202. 165. 340. 180.
    0.]]
[[ True  True  True  True  True  True  True  True  True  True  True  True
   True  True  True]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]
 [ True False False False False False False False False False False False
  False False False]]

### Generate all possible cities permutation

In [606]:

current_schedule = list(range(len(Cities_Distance)))
print(current_schedule)

def get_permutation(current_schedule):
    permutation = []
    for i in range(len(current_schedule)):
        for j in range(i+1, len(current_schedule)):
            neighbor = current_schedule.copy()
            neighbor[i] = current_schedule[j]
            neighbor[j] = current_schedule[i]
            loc = [i, j]
            loc.extend(neighbor)
            loc.extend([0,0])
            permutation.append(loc)

    permutation = np.array(permutation)

    #print(f'new permutation generation completed! \n shape: {permutation.shape} \n {permutation}')
    # print(permutation.shape)
    return permutation

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [607]:
def get_schedule_length(arbitrary_array):
    #print(f'The input array is :{arbitrary_array}, len: {len(arbitrary_array)}')
    sum = 0
    for j in range(len(arbitrary_array)-1):
        sum += Cities_Distance[arbitrary_array[j],arbitrary_array[j+1]]
    return sum

def get_new_schedule(permutation, best_result):
    min = 10e6
    store_i = 0
    store_j = 0
    current_schedule = []
    for i in range(len(permutation)):
        sum = 0
        sum = get_schedule_length(permutation[i,2:18])
        #for j in range(2, len(permutation[i])-2):
        #    sum += Cities_Distance[permutation[i,j],permutation[i,j+1]]

        if boolean_table[permutation[i,0], permutation[i,1]]!=1:
            permutation[i,18] = int(sum)
            if ((sum < min) & (sum < best_result)):
                min = sum
                best_result = min
                print(f'The best_result is : {best_result}')
                store_i = permutation[i,0]
                store_j = permutation[i,1]
                current_schedule = permutation[i,2:17]

    # print(f'The minimum value is at : {store_i, store_j}')
    boolean_table[store_i, store_j] = 1
    boolean_table[store_j, store_i] = 1
    # print(boolean_table)
    # print(permutation)
    print(f'The new schedule is: {current_schedule}')

    return current_schedule, best_result

In [608]:
for i in range(9):
    print(f'Step:{i}')
    permutation = get_permutation(current_schedule)
    current_schedule, best_result = get_new_schedule(permutation, best_result)

# print(boolean_table)
print(f'The current_schedule is: {current_schedule}')

current_schedule = np.append(current_schedule, [0])
print(current_schedule)
get_schedule_length(current_schedule)

Step:0
The best_result is : 3560.0
The best_result is : 3354.0
The best_result is : 3344.0
The best_result is : 3003.0
The best_result is : 2867.0
The best_result is : 2653.0
The best_result is : 2558.0
The new schedule is: [ 0  1  2  3  4  5 14  7  8  9 10 11 12 13  6]
Step:1
The best_result is : 2534.0
The best_result is : 2529.0
The best_result is : 2420.0
The best_result is : 2314.0
The best_result is : 2114.0
The new schedule is: [ 0  1  2  3  4  5 14 11  8  9 10  7 12 13  6]
Step:2
The best_result is : 1976.0
The best_result is : 1870.0
The best_result is : 1859.0
The new schedule is: [ 0  1 12  3  4  5 14 11  8  9 10  7  2 13  6]
Step:3
The best_result is : 1832.0
The best_result is : 1597.0
The new schedule is: [ 0  1 12  9  4  5 14 11  8  3 10  7  2 13  6]
Step:4
The best_result is : 1596.0
The best_result is : 1551.0
The new schedule is: [ 0  1 12  9  4  8 14 11  5  3 10  7  2 13  6]
Step:5
The best_result is : 1549.0
The best_result is : 1477.0
The new schedule is: [ 0  1 12  9  4  8 14 11  5  2 10  7  3 13  6]
Step:6
The best_result is : 1454.0
The best_result is : 1432.0
The new schedule is: [ 0  1 12  9  4  8 14 11  5 10  2  7  3 13  6]
Step:7
The best_result is : 1425.0
The new schedule is: [ 0  1 12  9  4  8 14  5 11 10  2  7  3 13  6]
Step:8
The best_result is : 1370.0
The new schedule is: [ 0  1 12  9  4  8  5 14 11 10  2  7  3 13  6]
The current_schedule is: [ 0  1 12  9  4  8  5 14 11 10  2  7  3 13  6]
[ 0  1 12  9  4  8  5 14 11 10  2  7  3 13  6  0]

1370.0